body {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #c4cceb;
}

/*  clamp()で上限／下限の設定 */
main,
section {
  width: clamp(335px, 70vw, 1004px);
  margin: 0 auto;
}

.bill-icon {
  width: calc(100vw / 10);
}
/* フォントサイズ */
$section-title: #{"clamp(1.625rem, 0.2265rem + 5.9669vw, 5rem)"};
$section-atricle: #{"clamp(1.625rem, 0.2265rem + 5.9669vw, 5rem)"};
$sub-title: calc(100vw / 25);

@mixin width-clamp($lower, $view, $upper) {
  width: clamp($lower, $view, $upper);
}
