.sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.score-container {
  border: solid white;
  border-radius: 15px;
}

article {
  h3 {
    font-size: 80px;
  }
  &::after,
  &::before {
    content: "";
  }
}
