main {
  font-family: fot-tsukubrdgothic-std, sans-serif;
  font-weight: 700;
  font-style: normal;
  .title-text {
    font-size: 80px;
    span {
      display: inline-block;
      background-color: white;
    }
  }
}
