main {
  font-family: fot-tsukubrdgothic-std, sans-serif;
  font-weight: 700;
  font-style: normal;
  .logo-container {
    margin-bottom: 4rem;
  }

  .title-text {
    font-size: $section-title;
    span {
      display: inline-block;
      background-color: white;
      padding: 50px;
      &:nth-child(1) {
        margin-bottom: 26px;
      }
      /*media queryは入れ子にする*/
      @media screen and (max-width: 768px) {
        .title-text {
          /*deleted import*/
          span {
            padding: 20px;
          }
        }
      }
    }
  }
  .down-arrow {
    position: absolute;
    left: 50%;
    margin-top: 3rem;
    /*左右きっちり中央寄せ*/
    transform: translate(-50%, 0);
  }
}
